body{
	text-align: center;
}
#stage{
	margin: 50px auto 0;
    position: relative;
}
.cell[data-cell-color=dark]{
	background-color: #888;
}
.cell[data-cell-color=light]{
	background-color: #ddd;
}
.cell{
	position: absolute;
	border: 1px solid #777;
}
.cell.highlight{
	background-color: #DBB54D;
	cursor: pointer;
}
.cell.highlight.highlight-red{
	background-color: #f00;
}
.cell.highlight.highlight-blue{
	background-color: #069AB7;
}
.cell[data-figure-name]:hover{
	cursor: pointer;
}
.cell[data-figure-color=dark][data-figure-name=rook], .cell[data-figure-color=light][data-figure-name=rook]{
	background-image: url('../img/rook.png');
	background-size: 200%;
    background-position: 100%;
}
.cell[data-figure-color=dark][data-figure-name=knight], .cell[data-figure-color=light][data-figure-name=knight]{
	background-image: url('../img/knight.png');
	background-size: 200%;
    background-position: 100%;	
}
.cell[data-figure-color=dark][data-figure-name=bishop], .cell[data-figure-color=light][data-figure-name=bishop]{
	background-image: url('../img/bishop.png');
	background-size: 200%;
    background-position: 100%;	
}
.cell[data-figure-color=dark][data-figure-name=queen], .cell[data-figure-color=light][data-figure-name=queen]{
	background-image: url('../img/queen.png');
	background-size: 200%;
    background-position: 100%;	
}
.cell[data-figure-color=dark][data-figure-name=king], .cell[data-figure-color=light][data-figure-name=king]{
	background-image: url('../img/king.png');
	background-size: 200%;
    background-position: 100%;	
}
.cell[data-figure-color=dark][data-figure-name=pawns], .cell[data-figure-color=light][data-figure-name=pawns]{
	background-image: url('../img/pawns.png');
	background-size: 200%;
    background-position: 100%;	
}
.cell[data-figure-color=light][data-figure-name=rook], .cell[data-figure-color=light][data-figure-name=knight], .cell[data-figure-color=light][data-figure-name=bishop], .cell[data-figure-color=light][data-figure-name=queen], .cell[data-figure-color=light][data-figure-name=king], .cell[data-figure-color=light][data-figure-name=pawns]{
	background-position: 0;
}

.cell[data-y="7"]:after, .cell[data-y="0"]:after{
	display: block;
    position: relative;
    height: 30%;
    bottom: -101%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.cell[data-y="0"]:after{
	bottom: auto;
	top: -35%;
	transform: rotate(180deg);
}
.cell[data-x="0"][data-y="7"]:after, .cell[data-x="7"][data-y="0"]:after{
    content: "A";
}
.cell[data-x="1"][data-y="7"]:after, .cell[data-x="6"][data-y="0"]:after{
    content: "B";
}
.cell[data-x="2"][data-y="7"]:after, .cell[data-x="5"][data-y="0"]:after{
    content: "C";
}
.cell[data-x="3"][data-y="7"]:after, .cell[data-x="4"][data-y="0"]:after{
    content: "D";
}
.cell[data-x="4"][data-y="7"]:after, .cell[data-x="3"][data-y="0"]:after{
    content: "E";
}
.cell[data-x="5"][data-y="7"]:after, .cell[data-x="2"][data-y="0"]:after{
    content: "F";
}
.cell[data-x="6"][data-y="7"]:after, .cell[data-x="1"][data-y="0"]:after{
    content: "G";
}
.cell[data-x="7"][data-y="7"]:after, .cell[data-x="0"][data-y="0"]:after{
    content: "H";
    border-right: 1px solid #000;
}

.cell[data-x="0"]:before, .cell[data-x="7"]:before{
	display: block;
    position: absolute;
    height: 100%;
    width: 30%;
    left: -33%;
    text-align: center;
    bottom: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    line-height: 330%;
}
.cell[data-x="7"]:before{
	left: auto;
	right: -36%;
	transform: rotate(180deg);
}
.cell[data-x="0"][data-y="7"]:before, .cell[data-x="7"][data-y="0"]:before{
	content: "1";
}
.cell[data-x="0"][data-y="6"]:before, .cell[data-x="7"][data-y="1"]:before{
	content: "2";
}
.cell[data-x="0"][data-y="5"]:before, .cell[data-x="7"][data-y="2"]:before{
	content: "3";
}
.cell[data-x="0"][data-y="4"]:before, .cell[data-x="7"][data-y="3"]:before{
	content: "4";
}
.cell[data-x="0"][data-y="3"]:before, .cell[data-x="7"][data-y="4"]:before{
	content: "5";
}
.cell[data-x="0"][data-y="2"]:before, .cell[data-x="7"][data-y="5"]:before{
	content: "6";
}
.cell[data-x="0"][data-y="1"]:before, .cell[data-x="7"][data-y="6"]:before{
	content: "7";
}
.cell[data-x="0"][data-y="0"]:before, .cell[data-x="7"][data-y="7"]:before{
	content: "8";
	border-top: 1px solid #000;
}

